p{
 
    text-indent: 10%;
    
}
h1 {
    font-family: 'Segoe UI';
    color:#00004c;
    letter-spacing:2pt;
    
}
h2 {
    font-family:'Comic Sans MS';
    color:#1A1A00;


}
h3{
    font-family:'Trebuchet MS';
    color: #3D001F;
}
